Xft.autohint  : 0
Xft.lcdfilter : lcddefault
Xft.hintstyle : hintnone
Xft.hinting   : 0
Xft.antialias : 1
Xft.rgba      : rgb
Xcursor.size  : 16
Xcursor.theme : Papirus

#include ".Xresources.d/solarized"
#include ".Xresources.d/urxvt"
#include ".Xresources.d/rofi"
